
html, body {
	height: 100%; padding: 0; margin: 0;
}

#projectContainer {
	width: 100%; height: 100%; padding: 0; margin: 0;
}

.ProjectBox {
	position: absolute;
	left: 0;
	top: 200%;
	width: 100%;
}

.ProjectInnerBox {
	height: 90%;
	width: 90%;
	margin: auto;
	font-size: 3em;
	border: 1px solid black;
}
.ProjectName {
	height: 100%;
}

.PercentageText {
	height: 100%;
	vertical-align: middle;
	padding-left: 40px;
	font-weight: bold;
}
.PercentageBar {
	height: 100%;
	overflow-x: visible;
	white-space: nowrap;
}
